
#app5application * {
	margin:0;
	padding:0;
	font-size:20px;
	font-family:Helvetica, sans-serif;
}


#app5application .app5sidebar {
	background:#444;
	border-right:3px solid #444;
}


#app5application .app5windowstyle {
	background-color:[windowColor];
	color:[textColor];
}

#app5application .app5barstyle {
	background-color: [toolbarColor];
	background:-webkit-gradient(linear,0 0, 0 100%,from([toolbarColor2]),to([toolbarColor]),color-stop(0.6,[toolbarColor]));
	background:-moz-linear-gradient(top, [toolbarColor2],[toolbarColor] 60%, [toolbarColor]);
	color: [toolbarTextColor];
}

#app5application .app5barstyle input.button {
	font-size:16px;
	padding: 2px 3px 2px 3px;
	margin: 2px 3px 2px 3px;
	color: [toolbarTextColor];
	border: 1px solid #408000;
	background-color: [buttonColor];
	background:-webkit-gradient(linear,0 0, 0 100%,from([buttonColor2]),to([buttonColor]),color-stop(0.4,[buttonColor]));
	background:-moz-linear-gradient(top, [buttonColor2],[buttonColor] 40%, [buttonColor])
	display: inline-block;
	
}


#app5application .app5list li {
	border-bottom:1px solid #DDDDDD;
	padding:4px 8px;
}

.app5listarrow {
	float:right;color:#DDDDDD;font-weight:bolder;
}

#app5application fieldset {
	margin:10px 4px 4px 4px;
	width:280px;
	border:1px solid #DDDDDD;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#eeeeee;
}

#app5application fieldset textarea{
	width:100%;
	resize:none;
	font-size:14px;
    border:white;
}

#app5application fieldset input{
	width:100%;
    border:white;
}


#app5application fieldset div {
	border-bottom:1px solid #DDDDDD;
	padding:4px 8px;
}




#app5application .app5wiki h1 {
	font:  italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #ff4040;

}

#app5application .app5wiki * {
   font-size:12pt;
}

#app5application .app5wiki p {
   margin-top:10pt;
   line-height:1.4;
   text-align:justify;
}

#app5application .app5wiki h2 {
	font: italic normal 1.8em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #8080ff;

}

#app5application .app5wiki h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #80FF00;
	}

#app5application .app5wiki a:link,a:visited { color: #2184ff;  }
#app5application .app5wiki a:hover,a:active { color: #73ff16; }

#app5application .app5wiki blockquote {
	display: block;
	padding: 4px;
	margin: 0 20px;
	background:#eeeeff;
	color: #555793;
	border-left:1px dashed #73ff16;;
	font:1.2em;
}

#app5application .app5wiki pre {
	display: block;
	margin: 0 20px;
	padding:4px;
	background:#eeeeff;
	color: #555793;
	border:1px solid #73ff16;;
    max-width:40em;
	overflow:auto;
	font:1.2em;
}

#app5application .app5wiki code  {
	font-family: Monospace;
}




#app5application .app5wiki li  {
	margin-left: 20px;
}


#app5application .app5wiki table.styled  {
	padding: 5px;
	border-collapse:collapse;
}

#app5application .app5wiki table.styled td {
   border:1px solid #dddddd;
   border-collapse:collapse;
   padding: 3px;
}
