<div id="toolBar" data-layout-height="50"  style="color:white;background-color:navy;" >
	Header
</div>
<div id="mainArea"  data-layout-flex="1" data-layout-container="horizontal" style="background-color:#ccc">
main area

</div>
<div id="footer"  data-layout-height="50" data-layout-container="horizontal" style="background-color:blue;">
	<div id="button1"  data-layout-width="50" style="background:#0f0" ></div>
	<div id="button2"  data-layout-width="50" style="background:#ff0" ></div>
	<div id="button3"  data-layout-width="50" style="background:#0ff" ></div>
</div>