<!doctype html> 
<html>
	<head>
		<style>
		    body,div { margin:0;padding:0;border:0; white-space-collapse:discard;}
		    .app5layout {
				white-space-collapse: discard;
			}
			h1 {
				margin:0;
			}
		</style>
	</head>
	<body>
		<div id="mainDiv">
			<div id="toolBar" data-layout-height="70" data-layout-container="horizontal" style="height:10px;background-color:navy;" ><div style="display:inline-block;height:100%;background-color:#000;" data-layout-width="60"></div>
				<div style="display:inline-block;height:100%;background-color:#222;" data-layout-width="60"></div>
				<div style="display:inline-block;height:100%;background-color:#444;" data-layout-width="60"></div>
				<div style="display:inline-block;height:100%;background-color:navy;" data-layout-width="60" data-layout-hgrow="100"></div>
				<div style="display:inline-block;height:100%;background-color:#666;" data-layout-width="60" ></div>
			</div>
			<div id="mainArea" data-layout-vgrow="100" data-layout-container="horizontal" style="background-color:#ccc">
				<div id="sidebar" style="display:inline-block;height:100%;background-color:#fff;" data-layout-container="vertical" data-layout-width="200"data-layout-hgrow="10">
					<div style="width:100%;height:30px;background-color:red;" data-layout-height="70"></div>
					<div style="width:100%;height:30px;background-color:green;" ></div>
					<div style="width:100%;height:30px;background-color:purple;" ></div>
				</div>
				<div style="display:inline-block;height:100%;background-color:#ccc;" data-layout-hgrow="90"></div>
			     
			</div>
			<div id="footer" data-layout-height="70" style="height:70px;background-color:blue;">
			</div>
		</div> 
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		 <script src="scripts/app5.js"></script>
		<script  src="scripts/main.js"></script>
<!--
		<script  src="scripts/layout.js"></script>

		<script  src="scripts/logging.js"></script>
-->
</body>
</html>